## Numbers

In [2]:
my_number = 12345

In [3]:
type(my_number)

int

In [4]:
my_float = 3.14
print(type(my_float))
print(my_float)

<class 'float'>
3.14

In [5]:
6 / 5

1.2

In [6]:
6 // 5

1

In [7]:
8 % 4

0

In [8]:
5 % 7

5

In [17]:
5 % 3

2

### Anohter way to look at modula

In [9]:
whole_part = int(5 / 3)
decimal_part = 5 / 3 - whole_part
print(decimal_part)

0.6666666666666667

In [10]:
whole_remainder = decimal_part * 3
print(whole_remainder)

2.0

In [11]:
2 ** 3

8

In [12]:
4 ** 0.5

2.0

In [13]:
int(3.45)

3

In [14]:
float(14)

14.0

In [24]:
round(3.1415, 2)

3.14

In [26]:
round(3.1415)

3

In [27]:
print(type(round(3.1415)))

<class 'int'>

In [28]:
import math

In [29]:
print(math.floor(3.99999))

3

In [30]:
2 + 3 * 4

14

In [31]:
(2 + 3) * 4

20

In [32]:
0.1 * 3

0.30000000000000004

In [15]:
from decimal import Decimal

In [16]:
Decimal('0.1')

Decimal('0.1')

In [17]:
Decimal('0.1') * 3

Decimal('0.3')

In [18]:
import random
random.randint(0, 99)

52

## STRÄ°NGS

In [19]:
my_string = 'my text is importatnt'
print(my_string)

my text is importatnt

In [20]:
my_string = 'my text is "importatnt"'
print(my_string)

my text is "importatnt"

In [21]:
long_string = '''
###
text
   example
'''
print(long_string)

###
text
   example

In [22]:
str(my_number)

'12345'

In [23]:
my_number = 42
my_number = str(my_number)
print(type(my_number))

<class 'str'>

In [24]:
my_string[0]

'm'

In [25]:
print(my_string)
print(my_string[0])

my text is "importatnt"
m

In [26]:
len(my_string[-1])

1

## Slice

In [27]:
my_string[1:4]

'y t'

In [61]:
my_string[:4]

'my t'

In [28]:
my_string[1:]

'y text is "importatnt"'

In [29]:
my_string[::2]

'm eti ipran"'

In [30]:
my_string[::-1]

'"tntatropmi" si txet ym'

In [65]:
my_string.split()

['my', 'text', 'is', '"importatnt"']

In [31]:
my_string.split(',')

['my text is "importatnt"']

In [67]:
animals = ["cat, dog, horse"]

In [68]:
" ".join(animals)

'cat, dog, horse'

In [69]:
"".join(animals)

'cat, dog, horse'

In [70]:
for item in my_string:
    print(item)

m
y

t
e
x
t

i
s

"
i
m
p
o
r
t
a
t
n
t
"

### fstrings

In [32]:
name = "kemal"
age= 33
print(f"My name is {name} and my age is {age}")

My name is kemal and my age is 33

In [33]:
import datetime

In [34]:
today = datetime.datetime.today()
print(today)

2024-02-18 14:22:31.563267

In [35]:
print(f"{today: %d %m %Y}")

 18 02 2024

In [36]:
print(f"{today: %d %B %Y}")

 18 February 2024

## BOOLEAN

In [37]:
bool(1)

True

In [38]:
bool()

False

In [39]:
if True:
    print("yes it is true")

yes it is true

In [40]:
my_variable = 0
if my_variable:
    print("yes it is true")

In [41]:
my_variable is True

False

In [42]:
my_variable = 0
if my_variable:
    print("yes it is true")
else:
    print("no its is false")

no its is false

In [43]:
my_variable is True

False